{% extends 'base.html' %}

{% block content %}
{% load static %}

   <!-- bradcam_area  -->
    <div class="bradcam_area breadcam_bg_2">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Promotores Musicales</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->
 
<!-- Lista de promotores -->
<div class="container mt-5"> 
    <div class="row">
        {% for promotor in promotores %}
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="about_info">
                <img src="{% static promotor.get_imagen_promotor %}" alt="{{ promotor.nombre }}" height="150">
                <p><strong>País:</strong> {{ promotor.pais_origen }}</p>

                <!-- Botón Ver Más -->
                <a href="{% url 'promotor_detalle' promotor.id %}" class="btn btn-primary">Ver Más</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



{% endblock %}

