{% extends 'base.html' %}

{% block content %}
{% load static %}

    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="single_slider  d-flex align-items-center slider_bg_1 overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text text-center ">
                            <h3>PROMO CONCERT </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->

    <!-- promotor principal  -->
    <div class="about_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-5 col-md-6">
                    <div class="about_thumb">
                        <img class="img-fluid" src="{% static 'img/about/about_1.png' %}" alt="">
                    </div>
                </div>
                <div class="col-xl-7 col-md-6">
                    <div class="about_info">
                        <h3>Live Nation</h3>
                        <p>Live Nation Entertainment es la promotora de conciertos y festivales más famosa del mundo, reconocida por su impacto global en la industria musical. Con una presencia en más de 40 países, ha organizado algunos de los festivales más icónicos, como Lollapalooza, Rock Werchter, Reading & Leeds, y Isle of Wight Festival. Su liderazgo y asociación con los artistas más grandes del planeta la posicionan como la referencia principal en entretenimiento en vivo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ about_area  -->

    <!-- Festivales por Promotor -->
<div class="container">
    <h2>Festivales por Promotor</h2>
    {% for festival in festivales %}
    <div class="row align-items-center mb-4">
        <div class="col-md-4">
           
                    <!-- Imagen del festival -->
                    <div class="thumb">
                        <img src="{% static festival.get_imagen_festival %}" alt="{{ festival.nombre }}" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-8">
                    <!-- Nombre del promotor -->
                    <h4>{{ festival.promotor.nombre }}</h4>
                    <!-- Nombre y fechas del festival -->
                    <h5>{{ festival.nombre }}</h5>
                    <p>Fecha de inicio: {{ festival.fecha_inicio }}</p>
                    <p>Fecha de fin: {{ festival.fecha_fin }}</p>
                </div>
            </div>
     
    {% endfor %}
</div>

    
{% endblock %}
    


  