{% load static i18n %}
<!doctype html>
<html class="no-js" lang="{{ LANGUAGE_CODE }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% trans "PromoConcert" %}</title>
    <meta name="description" content="{% trans 'Página de promoción y conciertos' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo.png' %}">

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body id="top">
    <header>
        <div class="header-area">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid">
                    <div class="header_bottom_border">
                        <div class="row align-items-center">
                            <div class="col-xl-3 col-lg-2">
                                <div class="logo">
                                    <a href="{% url 'index' %}">
                                        <img src="{% static 'img/logo.png' %}" alt="" class="logo_nav">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-5">
                                <div class="main-menu d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a class="active" href="{% url 'index' %}">{% trans "Inicio" %}</a></li>
                                            <li><a href="{% url 'about' %}">{% trans "Promotores Musicales" %}</a></li>
                                            <li><a href="{% url 'track' %}">{% trans "Festivales" %}</a></li>
                                            <li><a href="{% url 'contact' %}">{% trans "Intérpretes" %}</a></li>
                                            <li><a href="{% url 'reseñas' %}">{% trans "Reseñas" %}</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 d-flex justify-content-end align-items-center">
                                <div class="language-switcher">
                                    <form method="get" action="{% url 'set_language' %}">
                                        {% csrf_token %}
                                        <select name="language" onchange="this.form.submit()">
                                            <option value="en" {% if LANGUAGE_CODE == 'en' %}selected{% endif %}>English</option>
                                            <option value="es" {% if LANGUAGE_CODE == 'es' %}selected{% endif %}>Español</option>
                                        </select>
                                    </form>
                                </div>
                                <div class="social_icon text-right">
                                    <ul>
                                        <li><a href="https://www.facebook.com/PromoConcert"> <i class="fa fa-facebook"></i> </a></li>
                                        <li><a href="https://www.twitter.com/PromoConcert"> <i class="fa fa-twitter"></i> </a></li>
                                        <li><a href="https://www.instagram.com/PromoConcert"> <i class="fa fa-instagram"></i> </a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <!-- footer start -->
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-md-6">
                        <div class="footer_widget">
                            <h3 class="footer_title">{% trans "Contacto" %}</h3>
                            <ul>
                                <li><a href="#">info@concertpromoters.com</a></li>
                                <li><a href="#">+34 987 654 321</a></li>
                                <li><a href="#">Calle de la Música, 12, Madrid, España</a></li>
                                <li><a href="#">{% trans "Horario de atención: Lunes a Viernes, 10:00 - 18:00" %}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-5 col-md-5 offset-xl-1">
                        <div class="footer_widget">
                            <h3 class="footer_title">{% trans "Sobre Nosotros" %}</h3>
                            <p>{% trans "Organización de eventos, promociones, y venta de entradas para los conciertos más esperados. Nuestro equipo está comprometido a llevar la mejor música en vivo a tu ciudad." %}</p>
                            <div class="back_to_top">
                                <a href="#top" class="back_to_top_link">
                                    <i class="fa fa-arrow-up"></i> {% trans "Ir al inicio" %}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-7 col-md-6">
                        <p class="copy_right">
                            &copy;<script>document.write(new Date().getFullYear());</script> {% trans "Todos los derechos reservados | Promotores Musicales" %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/ footer end -->

    <!-- Scripts -->
  <!-- <script src="{% static 'js/jquery.min.js' %}"></script>--> 
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>
